@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.profile-view {
  padding: 15px;
}

.update-button {
  padding: 15px;
  // margin: 15px;
}

.delete-button {
  padding: 15px;
  margin: 15px;
}

// .fav-card {
//   padding: 15px;
//   margin: 15px;
// }

.fav-text {
  padding: 15px;
}

.log-out {
  padding: 15px;
  margin: 15px;
}